@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  color: #7c7c7c;
  font-size: 19px;
  font-weight: bold;
}

canvas {
  filter: opacity(0.7);
  border-radius: 3px;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #74b32b;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.footer button i {
  color: #fff;
  font-size: 18px;
}

.footer .reiniciar {
  width: 70px;
  height: 35px;
  color: #fff;
  background: #b32b2b;
}
